.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 25px;
}

.card-content{
    align-items: center;
    justify-content: center;
}