@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Poppins:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #4EB7E1;
}

.rounded{
  border-radius:50% !important;
  display: inline-block;
  width: 60%;
  
}
