@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Poppins:wght@200&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  color: #4EB7E1;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.rounded{
  border-radius:50% !important;
  border: 3px solid #4EB7E1;
  display: inline-block;
  padding: 5px;
  width: 60%;
}

.rounded:hover{
  border: 5px double #4EB7E1;
  opacity: 0.5;
  transition: border 0.5s ease;
}
